.button {
    display: block;
    max-width: 120px;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    padding: 7px 12px;
    font-weight: 500;
    background: none;
    border: 2px solid #1e58ff;
    border-radius: 5px;
    color: #1e58ff;
    cursor: pointer;

    @media screen and (max-width: 400px) {
      font-size: 1em;
      max-width: 100%;
    }

    &:hover {
      background-color: rgba(211, 211, 211, 0.45);
    }
  }

.secondary {
  @extend .button;

  font-size: 12px;
  background-color: #1e58ff;
  border: none;
  color: white;
  width: 100%;

  @media screen and (max-width: 400px) {
  font-size: inherit;
}
}