.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  .form {
    width: 100%;
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      margin-top: 50px;
      font-size: 1em;

    }


  }

.formOptions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}
