@keyframes appear {
    0% {
        opacity: 0;
        top: 35px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.wrapper {
    border-top: 1px solid lightgrey;
    list-style: none;
    max-width: 1000px;
    padding: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    position: relative;
    animation: appear 0.7s ease;

    &:hover  {
        background-color: rgba(212, 212, 212, 0.18);
    }
}

.image {
    flex-shrink: 0;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.imageNone {
    @extend .image;

    background: url('https://unsplash.it/200/200')
    no-repeat;
    background-size: cover;
}

.description {
    margin: 10px 0 20px;
    font-weight: 300;
}

.button {
    font-size: 10px;
    text-decoration: none;
    padding: 7px 12px;
    font-weight: 500;
    background: none;
    border: 2px solid #1E58FF;
    color: #1E58FF;
}

.buttonWrapper {
    position: flex;
    flex-direction: row;
}

.closeButton {
    display: block;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: #1e58ff;
    width: 20px;
    height: 20px;


    &::before,
    &::after {
        content: '';
        width: 20px;
        height: 2px;
        position: absolute;
        background: white;
        display: block;
        top: 9px;
        right: 0px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover {
        background-color: blue;
    }
}

.arrowWrapper {
    position: absolute;
    display: block;
    right: 5px;
}

.arrowUp {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #1e58ff;
    width: 20px;
    height: 20px;
    position: relative;


    &::before,
    &::after {
        content: '';
        width: 12px;
        height: 2px;
        background: white;
        position: absolute;
        display: block;

    }

    &::before {
        transform: translateX(8px) translateY(-1px) rotate(45deg);
    }

    &::after {
        transform: translateX(1px) translateY(-1px) rotate(-45deg);
    }

    &:hover {
        background-color: blue;
    }
}

.arrowDown {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #1e58ff;
    width: 20px;
    height: 20px;
    position: relative;


    &::before,
    &::after {
        content: '';
        width: 12px;
        height: 2px;
        background: white;
        position: absolute;
        display: block;

    }

    &::before {
        transform: translateX(8px) translateY(-1px) rotate(-45deg);
    }

    &::after {
        transform: translateX(1px) translateY(-1px) rotate(45deg);
    }

    &:hover {
        background-color: blue;
    }
}