.wrapper {
    border-top: 1px solid lightgrey;
    list-style: none;
    max-width: 1000px;
    padding: 50px 0px 30px 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;

    @media screen and (max-width: 400px) {
        padding: 40px 10px 10px 10px;
        width: 100%;
        flex-flow: column nowrap;
        justify-content: center;
    }
}

.image {
    flex-shrink: 0;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.imageNone {
    @extend .image;

    background: url('https://unsplash.it/200/200')
    no-repeat;
    background-size: cover;
}

.description {
    margin: 10px 0 20px;
    font-weight: 300;
}

.buttonWrapper {
    position: flex;
    flex-direction: row;
}

.arrowWrapper {
    display: block;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100px;
    right: 5px;

    @media screen and (max-width: 400px) {
        position: absolute;
        top: 70px;
    }
}