.wrapper {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1000px;
    align-items: center;
    padding: 30px 0px 30px 40px;

    &Image {
        height: 51px;
        width: 140px;
        padding-right: 30px;
    }
}