.wrapper {
    @media screen and (max-width: 620px) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 20px 0;
    }
}

.navItem {
    display: inline-block;
    margin-right: 50px;
    list-style: none;

    &Link {
        text-decoration: none;
        color: #818181;

        &Active {
            font-weight: 700;
        }
    }

    @media screen and (max-width: 620px) {
margin-right: 0;
    }
}

.nav {
    display: block;
    width: 100%;
}